<div class="page-header">
    <button type="button" class="btn-back" (click)="cancel()">← Back to Lesson Details</button>
</div>

<h3>{{ vocabularyId ? 'Edit' : 'Add' }} Vocabulary</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
    <label>
        German Word
        <input formControlName="germanWord" />
    </label>

    <label>
        English Meaning
        <input formControlName="englishMeaning" />
    </label>

    <label>
        Turkish Meaning
        <input formControlName="turkishMeaning" />
    </label>

    <label>
        German Explanation
        <textarea formControlName="germanExplanation"></textarea>
    </label>

    <label>
        Related Words
        <input formControlName="relatedWords" placeholder="Comma separated..." />
    </label>

    <h4>Example Sentence</h4>
    <label>
        German Sentence
        <textarea formControlName="germanSentence"></textarea>
    </label>

    <label>
        English Sentence Translation
        <textarea formControlName="englishSentenceTranslation"></textarea>
    </label>

    <label>
        Turkish Sentence Translation
        <textarea formControlName="turkishSentenceTranslation"></textarea>
    </label>

    <button type="submit" [disabled]="form.invalid">{{ vocabularyId ? 'Update' : 'Create' }}</button>
    <button type="button" (click)="cancel()">Cancel</button>
</form>